#### Problem 1.1

- Create a series named heights_A with values 176.2, 158.4, 167.6, 156.2, and 161.4, which represent heights of 5 students of class A.

- Label each student as s1, s2, s3, s4, and s5.

- Determine the shape of heights_A and display it.

In [1]:
import pandas as pd
import numpy as np

In [2]:
heights_A=pd.Series(data=[176.2, 158.4, 167.6, 156.2, 161.4],index=[ 's1', 's2', 's3', 's4',  's5'],name='heights of class A students')
heights_A

s1    176.2
s2    158.4
s3    167.6
s4    156.2
s5    161.4
Name: heights of class A students, dtype: float64

In [3]:
heights_A.shape

(5,)

### problem 1.2
- Create a series named weights_A with values 85.1, 90.2, 76.8, 80.4,   and 78.9, which represent weights of 5 students of class A.

- Label each student as s1, s2, s3, s4, and s5.

- Determine data type of weights_A and display it.

In [4]:
Weights_A=pd.Series(data=[85.1, 90.2, 76.8, 80.4,78.9],index=[ 's1', 's2', 's3', 's4',  's5'],name='Weights of class A students')
Weights_A

s1    85.1
s2    90.2
s3    76.8
s4    80.4
s5    78.9
Name: Weights of class A students, dtype: float64

In [5]:
Weights_A.dtype

dtype('float64')

#### problem 1.3 --*\*\*\*imp\*\*\*
- Create a Data Frame named df_A, which holds the height and weight of   five students namely s1, s2, s3, s4 and s5.

- Label the columns as Student_height and Student_weight respectively.

- Display index values of df_A.

dataframe is basically dictionary of series - we use this statement

In [6]:
df_A=pd.DataFrame({'Student_height':heights_A,'Student_weight':Weights_A})
df_A

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [7]:
df_A

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

### problem 1.4
- Create two Series named heights_B and weights_B from 
two random 1-D numpy arrays with five elements each.
The first array is obtained from the normal distribution of
mean 170.0 and standard deviation 25.0.

- The second array is derived from the normal distribution of
mean 75.0 and standard deviation 12.0.

- Label both Series elements with s1, s2, s3, s4 and s5

In [8]:
heights_B=pd.Series(data=np.array(170+np.random.randn(5)*25.0),index=['s1', 's2', 's3', 's4',  's5'],name='heights_B')
weights_B=pd.Series(data=np.array(75+np.random.randn(5)*12.0),index=['s1', 's2', 's3', 's4',  's5'],name='weights_B')

In [9]:
df_b=pd.DataFrame({'heights_B':heights_B,'weights_B':weights_B})

#### problem 1.5
- Create a Data Frame df_B holding height and weight of students  
s1, s2, s3, s4 and s5 belonging to class B.

- Label the columns as Student_height and Student_weight respectively.

- Display the column names of df_B.

In [10]:
df_b.columns

Index(['heights_B', 'weights_B'], dtype='object')

#### problem 1.6
- Create a panel p, which holds previously created two data frames  
df_A and df_B.  
Label the first data frame as ClassA and second as ClassB.

- Determine the shape of panel p and display it.

In [11]:
p=pd.Panel({'df_A':df_A,'df_b':df_b})
p

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: df_A to df_b
Major_axis axis: s1 to s5
Minor_axis axis: Student_height to weights_B

In [12]:
p.shape

(2, 5, 4)

In [13]:
import pandas as pd

s = pd.Series([89.2, 76.4, 98.2, 75.9], index=list('abcd'))
print(s[['c', 'a']])

c    98.2
a    89.2
dtype: float64

#### Problem 2.1

- Print the second element of series heights_A, as a string.

In [14]:
str(heights_A[2])

'167.6'

#### Problem 2.2

- Obtain central three elements of Series heights_A.

In [15]:
heights_A[1:4]

s2    158.4
s3    167.6
s4    156.2
Name: heights of class A students, dtype: float64

In [16]:
df_A

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

#### Problem 2.3

Select the column of df_A, referring to student heights and  
store in variable height.

In [17]:
height=df_A['Student_height']
height

s1    176.2
s2    158.4
s3    167.6
s4    156.2
s5    161.4
Name: Student_height, dtype: float64

#### Problem 2.4

Select the rows corresponding to students s1, s2 of df_A and display them

In [18]:
df_A.loc['s1':'s2']

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2

#### Problem 2.5

Select the rows corresponding to students s1, s2   
and s5 of df_A in the order s2, s5, s1 and display them.

In [19]:
df_A.loc[['s1','s5','s2']]

    Student_height  Student_weight
s1           176.2            85.1
s5           161.4            78.9
s2           158.4            90.2

#### Problem 2.6

Select those rows of df_A, whose index values ends with 1 or 4.

In [20]:
df_A

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [21]:
import pandas

df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df.loc['C'] = [67, 78]
df

     A   B
r1  34  12
r2  78  67
r3  54  43
C   67  78

In [22]:
df_A.index

Index(['s1', 's2', 's3', 's4', 's5'], dtype='object')

In [23]:
[d for d in df_A.index if d.endswith('4') or d.endswith('1')]

['s1', 's4']

#### Problem 3.1

Write the contents of df_A to a CSV file names classA.csv.

Verify if the file classA.csv exists in present directory using command os.path.exists and display it's output.

Hint: Use os module.

### Problem 3.2

Read the contents of the CSV file, classA.csv into a data frame named df_A2.

Hint : Use read_csv method of pandas.
Display the index of df_A2

### Problem 3.3

Read the contents of the CSV file, classA.csv into a data frame named df_A3, such that first column data values are treated as index to df_A3.

Hint : Make use index_col argument of read_csv method.

Display the index of df_A3.

### Problem 3.4

Write the contents of df_B, without the index, to a CSV file named classB.csv.

Hint: Make Use of index argument of to_csv method.
Verify if the file classB.csv exists in present directory using the command os.path.exists and display the command output.

Hint: Use os module.

### Problem 3.5

Read the data from classB.csv file into a data frame df_B2.

Hint: Use read_csv method
Display shape of df_B2

### Problem 3.6

Read the data from classB.csv file into a data frame df_B3, such that the argument header of read_csv is set to None

Hint: When header is set to None, data is read assuming there is no header in input csv file.
Display shape of df_B3.

### Problem 3.7

Read the data from classB.csv file into a data frame df_B4, such that the argument header of read_csv is set to None and argument skiprows is set to 1.

Hint: skiprows skips reading the first n number of rows from the input csv file.
Display shape of df_B4.

In [24]:
import pandas as pd
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=None, compact_ints=None, use_unsigned=None, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        .. deprecated:: 0.19.0
           Please call `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        .. deprecated:: 0.19.0
           Use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        .. deprecated:: 0.19.0
           This argument is not respected by the parser
    compact_ints : boolean, default False
        .. deprecated:: 0.19.0
           Argument moved to ``pd.to_numeric``

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        .. deprecated:: 0.19.0
           Argument moved to ``pd.to_numeric``

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

#### Problem 4.1

Create an index named dates, representing a range of dates starting from 1-Sep-2017 to 15-Sep-2017.
Hint: use date_range method of pandas.

### Problem 4.2

Convert the following list of date strings into datetime objects.

datelist = ['14-Sep-2017', '9-Sep-2017']
Hint: Use to_datetime method of pandas

Capture the result in search_dates

### Problem 4.3

Filter those index dates from dates which match dates in search_dates.

Display the filtered dates.

Hint: use isin method associated with DatetimeIndex objects.

### Problem 4.4

Create a multi index named mi_index of two levels, represented in the below array arraylist.

arraylist = [['classA']*5 + ['classB']*5, ['s1', 's2', 's3','s4', 's5']*2]

Hint : Use MultiIndex of pandas.
Display levels of mi_index.

In [2]:
import pandas as pd

In [6]:
len(pd.bdate_range('11-Sep-2017', '17-Sep-2017', freq='2D'))

4

In [7]:
len(pd.period_range('11-Sep-2017', '17-Sep-2017', freq='M'))

1

### Problem 5.1

- Set height and weight values of student s3 to NaN in the data frame df_A3.

    - Hint: Use .loc to select the s3 record and set the values to np.nan
- Also set the weight of s5 to NaN in df_A3.
- Drop the rows having null values in any of the columns and assign the result to df_A4.
    - Hint: use dropna method
- Display df_A4 index.

### Problem 6.1

Filter the rows from df_A, whose Student_height > 160.0 and Student_weight < 80.0 and display the filtered rows.

### Problem 6.2

Filter the rows from df_A, whose index values end with 5 and display them.

### Problem 6.3

Create a new column Gender in data frame df_A using the below command.

df_A['Gender'] = ['M', 'F', 'M', 'M', 'F']
You can view df_A now and see how it looks.

Group df_A based on Gender and calculated mean height and weight of each group.

Hint : use groupby method to group df_A and then call mean method on grouped data.

quiz

In [11]:
import numpy as np
data=[np.random.randn(16).reshape(4,4)]
data

[array([[ 0.23801179, -1.52902696,  2.0251187 ,  0.10719377],
        [-1.00132086, -0.95774977,  0.25260503, -0.5700877 ],
        [ 0.65002687, -1.92114155,  0.77764275,  1.67099427],
        [ 1.1801512 , -1.75098159, -1.18123778, -1.89874496]])]

In [13]:
import numpy as np
import pandas as pd
df=pd.DataFrame(data=[np.random.randn(16).reshape(4,4)],columns=['A', 'B', 'C', 'D'],
               index=['r1', 'r2', 'r3'])
df[lambda x : x.index.str.endswith('3')]

AssertionError: 4 columns passed, passed data had 16 columns