# 1.Numbers

Numbers can be intger, float , boolean or complex numbers

- in python2 long, short for two diffrent classes but in python3 all same

### Int type

In [2]:
x=5
type(x)

int

##### To input hex value
- we need use <b>x</b> but the value will be stored as int
- 16 base from 0 to F..0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F

In [3]:
x=0xA
x

10

##### To input octal value
- we need use <b>o</b> but the value will be stored as int
- 8|10
-  +++++
-  +1 - 2
-  +++++

Bottom to top - 12 gives octal value

In [6]:
x=0o12
x

10

##### To input binary value
- we need use <b>b</b> but the value will be stored as int

- 2|10
-  +++++
-  +5 - 0
-  +++++
-  +2 - 1
-  ++++++
-  +1 - 0
 
 From bottom to top - 1010 - gives binary value

In [22]:
x=0b1010
x

10

### Float value

In [8]:
x=0.3
type(x)

float

##### Getting float value from hex

In [25]:
x=float.fromhex('A')
x

10.0

In [26]:
x.hex()

'0x1.4000000000000p+3'

### Complex numbers

In [27]:
x=3+2j
type(x)

complex

### Operations

In [28]:
x=2
y=4
print(x+y)
print(x-y)
print(x/y)
print('quotient - ',x%y)
print('raise to the power', x**y)
print('raise to the power - pow( )', pow(x,y))

6
-2
0.5
quotient -  2
raise to the power 16
raise to the power - pow( ) 16

### Functions
- Python provides you with a number of built in functions for manipulating integers
- Number of modules available in math library

##### rounding to certain positions

In [32]:
from math import pi
round(pi,6)

3.141593

##### asssigning infinity, - inf & nan

In [34]:
x=float('inf')
x

inf

In [35]:
x=float('-inf')
x

-inf

In [36]:
x=float('nan')
x

nan

In [37]:
x=float(6)
x

6.0

##### int( )
- Does not round the input up (ceiling)to the nearest number
It simply removes anything after decimal and returns that number

In [38]:
x=int(3.8)
x

3

In [39]:
x=float('inf')

In [40]:
x.is_integer()

True

In [42]:
x=10.0
x.is_integer()

True

In [44]:
x=12.2
x.is_integer( )

False

# 2.Strings

##### declaring a string - can be '' or ""

In [69]:
my_string='hi, hello'

In [70]:
len(my_string)

9

In [71]:
my_string[3:6]

' he'

In [72]:
my_string.upper()

'HI, HELLO'

In [73]:
my_string.lower()

'hi, hello'

In [74]:
my_string.capitalize()

'Hi, hello'

In [75]:
test_string='hello {}'.format(2)
test_string

'hello 2'

In [76]:
test_string=f'hello {x}'
test_string

'hello 12.2'

In [77]:
my_string.strip()

'hi, hello'

In [87]:
my_string.find('ello')

5

In [91]:
my_string.startswith('hi')

True

In [92]:
my_string.endswith('llo')

True

In [93]:
my_string.isalpha()

False

In [94]:
my_string.isnumeric()

False

In [100]:
my_string.isalnum()

False

In [98]:
test_string='1.23'
test_string.isdecimal()

True

In [101]:
string_list=my_string.split(',')
string_list

['hi', ' hello']

In [102]:
','.join(string_list)

'hi, hello'

In [107]:
new_string='hellow'
new_string.replace('el','am')

'hamlow'

# 3.BytesClass

In [108]:
byte_literal=b'Copyright \xc2\xa9'
byte_literal

b'Copyright \xc2\xa9'

In [109]:
byte_literal.decode()

'Copyright Â©'

# 4.Bytearray

In [111]:
empty_barray=bytearray()
empty_barray

bytearray(b'')

In [112]:
empty_barray=bytearray(9)
empty_barray

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [116]:
barray=bytearray([1,2,33,88,35])
barray

bytearray(b'\x01\x02!X#')