In [1]:
#empty tuple
empty_tuple=tuple()
empty_tuple

()

In [2]:
empty_tuple=()
type(empty_tuple)

tuple

In [3]:
#converts string into individual items with tuple constructor
tuple_str=tuple('hello')
tuple_str

('h', 'e', 'l', 'l', 'o')

In [4]:
len(tuple_str)

5

In [2]:
my_list=[1,2,3,4]
tuple_list=tuple(my_list)
tuple_list

(1, 2, 3, 4)

##### it only converts outer list not the one inside

In [7]:
tuple_list=tuple([1,2,[1,2]])
tuple_list

(1, 2, [1, 2])

In [11]:
singleton_tuple=(1,)

In [9]:
tuple_list=(1,3,4,2)
tuple_list

(1, 3, 4, 2)

In [7]:
tuple_list.sort() #sort on self wont work as T is immutable

AttributeError: 'tuple' object has no attribute 'sort'

In [10]:
#but can be done like below which returns copy
sorted(tuple_list)

[1, 2, 3, 4]

In [13]:
tuple_list.pop(2)

AttributeError: 'tuple' object has no attribute 'pop'

In [14]:
#u can not insert but you add two tuples ..gives copy
tuple_2=(8,9,7,5)
tuple_list+tuple_2

(1, 3, 4, 2, 8, 9, 7, 5)

In [15]:
min(tuple_list)

1

In [16]:
max(tuple_list)

4

In [17]:
len(tuple_list)

4

In [18]:
tuple_list.count(4)

1