In [1]:
#immutable
a_tuple=('a',1,2,(3,4))
a_string='immutable'
a_bytes=b'sequences'

In [2]:
#mutable
a_list=[5,6,7,8,(4,5)]
a_byte_array=bytearray(b'mutable')

In [3]:
#index accessing is allowed on all sequences
a_tuple[0]
a_string[1]
a_bytes[0]
a_list[3]
a_byte_array[0]

109

In [4]:
#negative index accessing is allowed on all sequences..
#negative index starts from 1 since there is no -0
a_tuple[0]
a_string[1]
a_bytes[0]
a_list[3]
a_byte_array[0]

109

In [14]:
#subslices can be accessed with two indexes
a_list[0:2]#0 to 2
a_list[:2]#0 to 2
a_list[2:]#2 to last
a_list[:] # all elements in the list same as a_list
a_list

[5, 6, 7, 8, (4, 5)]

In [15]:
#is can be used to verify is it the same
b_list=a_list
b_list is a_list

True

In [19]:
a_list

[5, 6, 7, 8, (4, 5)]

In [17]:
a_list[:2]

[5, 6]

In [21]:
#step access can be done with thord parameter
a_list[::2]
a_list[0:4:2]

[5, 7]

#### use additional slices to access elements with slices

In [23]:
a_list

[5, 6, 7, 8, (4, 5)]

In [27]:
a_list[4][0]

4

In [25]:
a_list[1]

6

#### Mutable sequences can be updated with slices

In [28]:
a_tuple[0]=121 #u get ERROR since tuple immutable
a_tuple

TypeError: 'tuple' object does not support item assignment

In [29]:
a_list[0]=12
a_list

[12, 6, 7, 8, (4, 5)]

#### A SLICE object can be used in the [ ] for slicing..instead of using fixed numbers like my_list[0:2]


- slice(stop)
- slice([start], stop,[ step])

In [32]:
a_slice=slice(2)
a_slice

slice(None, 2, None)

In [33]:
a_list[a_slice]

[12, 6]

In [34]:
a_slice=slice(0,4)
a_list[a_slice]

[12, 6, 7, 8]

In [36]:
a_slice=slice(0,4,2)
a_list[a_slice]

[12, 7]

In [37]:
#we can slice in reverse also
a_tuple[:]

('a', 1, 2, (3, 4))

In [38]:
a_tuple[::-1]

((3, 4), 2, 1, 'a')

In [39]:
a_tuple[::2] a_tuple[:]

SyntaxError: invalid syntax (<ipython-input-39-09314056e030>, line 1)

In [46]:
max('infinity')

'y'

In [48]:
a_list

[(4, 5), 8, 7, 6, 12]

In [50]:
a_list.reverse()
a_list

[(4, 5), 8, 7, 6, 12]

In [51]:
a_list.reverse()
a_list

[12, 6, 7, 8, (4, 5)]

In [52]:
a_tuple.reverse()
a_tuple

AttributeError: 'tuple' object has no attribute 'reverse'

In [55]:
a_myt=(1,3,2)
sorted(a_myt)

[1, 2, 3]