###  Broadcasting

In [8]:
import numpy as np

In [9]:
#creating 3 d array
my_3d_array = np.arange(70)
my_3d_array.shape=(2,7,5) #setting shape with atuple
my_3d_array #has 2 - 2D array, observer three [[[]]]

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [10]:
#Broadcasting describes how numpy performs operations between 
#arrays with different sizes

#Numpy requires that the arrays should be COMPATIBLE before braodcasting can take place
#Compatible means - sizes are same or at the least one of the array size is zero

#A small array BROADCAST to larger array

In [11]:
#before we proceed we need to know attributes of array
#shapes, number dimensions, sizes and data types  
#lets see how to access these attributes

In [12]:
#Shape
#accessing it 
my_3d_array.shape

(2, 7, 5)

In [13]:
#number of dimensions - ndim
my_3d_array.ndim

3

In [14]:
#size - no of elements  
my_3d_array.size
# we can also find out by we passed arange as 70
#and also shape is (2,7,5) - means 2 x 7 x 5

70

In [15]:
#Accessing each data type of element 
my_3d_array.dtype

dtype('int64')

### Broadcasting with Scalar

In [16]:
#Now lets start with broadcasting
#using Scalars
5 * my_3d_array -2 #multiplies every element with 5 and then subtracts 2

array([[[ -2,   3,   8,  13,  18],
        [ 23,  28,  33,  38,  43],
        [ 48,  53,  58,  63,  68],
        [ 73,  78,  83,  88,  93],
        [ 98, 103, 108, 113, 118],
        [123, 128, 133, 138, 143],
        [148, 153, 158, 163, 168]],

       [[173, 178, 183, 188, 193],
        [198, 203, 208, 213, 218],
        [223, 228, 233, 238, 243],
        [248, 253, 258, 263, 268],
        [273, 278, 283, 288, 293],
        [298, 303, 308, 313, 318],
        [323, 328, 333, 338, 343]]])

### matrix multiplication

### 1 D - np.inner
- np.inner IS USED
- gives inner product of two arrays

```py
[1,2] x [3,4]
[3x1 + 4x2]
[3+8]= 11

```

In [17]:
left_1d=np.array([1, 2])
right_1d=np.array([3,4])
np.inner(left_1d,right_1d)

11

### 2 D  - np.dot
- np.dot is used
- works with 2D, 3 D also 1 D(prefer using inner or multiply & sum)

##### 2 D Array

In [18]:
#we can create and shape an arary directly using reshape() method
left_mat = np.arange(6).reshape((2,3))  #
right_mat=np.arange(15).reshape(3,5) #Marices special type in NumPy..these are just ordinary ndarray

In [19]:
#numpy has two methods to perform these operations
#numpy.inner & numpy.dot
#inner works only on 1D
#dot works on multi dimensional
#np.inner(left_mat,right_mat) # u get error since both arrays multi
np.dot(left_mat,right_mat) # dot - for 2D equivalent to matrix multiplication
#for 1D -

array([[ 25,  28,  31,  34,  37],
       [ 70,  82,  94, 106, 118]])

##### 1 D arary

In [20]:
left_mat1 = np.arange(6)  #
left_mat1

array([0, 1, 2, 3, 4, 5])

In [21]:
right_mat1=np.arange(6)
right_mat1

array([0, 1, 2, 3, 4, 5])

In [22]:
np.dot(left_mat1,right_mat1) #

55

In [23]:
np.multiply(left_mat1,right_mat1)

array([ 0,  1,  4,  9, 16, 25])

In [24]:
np.multiply(left_mat1,right_mat1).sum()

55

### Operations along axes

In [25]:
my_3d_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [26]:
my_3d_array.shape

(2, 7, 5)

In [42]:
my_3d_array.sum() # returns sum of all the elements in an arary

2415

In [28]:
#0 to 69..naturalnumbers...sum of natural numbers ...formula is n(n+1)/2
(69*70)/2

2415.0

In [43]:
my_2d_array=np.arange(9).reshape(3,3)
my_2d_array

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [48]:
my_2d_array.sum(0)

array([ 9, 12, 15])

In [47]:
my_2d_array.sum(1)

array([ 3, 12, 21])

In [29]:
#above is same as sum returned result
my_3d_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [30]:
my_3d_array.shape

(2, 7, 5)

In [31]:
my_3d_array.sum(axis=0)

array([[ 35,  37,  39,  41,  43],
       [ 45,  47,  49,  51,  53],
       [ 55,  57,  59,  61,  63],
       [ 65,  67,  69,  71,  73],
       [ 75,  77,  79,  81,  83],
       [ 85,  87,  89,  91,  93],
       [ 95,  97,  99, 101, 103]])

In [32]:
my_3d_array.sum(axis=1)

array([[105, 112, 119, 126, 133],
       [350, 357, 364, 371, 378]])

In [33]:
my_3d_array.sum(axis=2)

array([[ 10,  35,  60,  85, 110, 135, 160],
       [185, 210, 235, 260, 285, 310, 335]])

### Broadcasting rules

In [34]:
#NumPy's documentation tells us that the smaller array is broadcast across the larger array so that they have compatible shapes
my_2d_array=np.ones(35,dtype='int_').reshape((7,5))*3
my_2d_array

array([[3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3]])

In [35]:
my_random_2d_array=np.random.random((7,5))
my_random_2d_array

array([[0.25843923, 0.3618665 , 0.35147875, 0.33447915, 0.44312231],
       [0.70643222, 0.82653604, 0.22146011, 0.17704281, 0.6071197 ],
       [0.93792668, 0.68536491, 0.19984554, 0.19180986, 0.76098458],
       [0.78004944, 0.87549248, 0.47368041, 0.70901629, 0.72338365],
       [0.4232366 , 0.73474609, 0.57015217, 0.18687306, 0.44263245],
       [0.14601252, 0.58494593, 0.94485497, 0.15195598, 0.51519415],
       [0.67093685, 0.52940925, 0.80871018, 0.66060449, 0.70271424]])

In [36]:
np.set_printoptions(precision=4)
my_random_2d_array.shape

(7, 5)

In [62]:
my_3d_array.shape

(2, 7, 5)

In [63]:
my_random_2d_array.shape

(7, 5)

### multiplication

For 3 D * 2D multiplication, 2D size should  
same as 3D - inside 2d size.  
Above 3D has 2 7 5 --> 2 (7, 5) so the 2 D should also have the same size  (7,5) even (7, 4) also wont WORK .It should be (7,5)

In [37]:
my_3d_array*my_random_2d_array

array([[[ 0.    ,  0.3619,  0.703 ,  1.0034,  1.7725],
        [ 3.5322,  4.9592,  1.5502,  1.4163,  5.4641],
        [ 9.3793,  7.539 ,  2.3981,  2.4935, 10.6538],
        [11.7007, 14.0079,  8.0526, 12.7623, 13.7443],
        [ 8.4647, 15.4297, 12.5433,  4.2981, 10.6232],
        [ 3.6503, 15.2086, 25.5111,  4.2548, 14.9406],
        [20.1281, 16.4117, 25.8787, 21.7999, 23.8923]],

       [[ 9.0454, 13.0272, 13.0047, 12.7102, 17.2818],
        [28.2573, 33.888 ,  9.3013,  7.6128, 26.7133],
        [42.2067, 31.5268,  9.3927,  9.2069, 37.2882],
        [39.0025, 44.6501, 24.6314, 37.5779, 39.0627],
        [23.278 , 41.1458, 32.4987, 10.8386, 26.1153],
        [ 8.7608, 35.6817, 58.581 ,  9.5732, 32.9724],
        [43.6109, 34.941 , 54.1836, 44.9211, 48.4873]]])

#### divison

In [91]:
my_vector=np.arange(5)*7
my_vector[0]=-1
my_vector

array([-1,  7, 14, 21, 28])

In [92]:
my_vector.ndim

1

In [93]:
my_3d_array / my_vector

array([[[ -0.    ,   0.1429,   0.1429,   0.1429,   0.1429],
        [ -5.    ,   0.8571,   0.5   ,   0.381 ,   0.3214],
        [-10.    ,   1.5714,   0.8571,   0.619 ,   0.5   ],
        [-15.    ,   2.2857,   1.2143,   0.8571,   0.6786],
        [-20.    ,   3.    ,   1.5714,   1.0952,   0.8571],
        [-25.    ,   3.7143,   1.9286,   1.3333,   1.0357],
        [-30.    ,   4.4286,   2.2857,   1.5714,   1.2143]],

       [[-35.    ,   5.1429,   2.6429,   1.8095,   1.3929],
        [-40.    ,   5.8571,   3.    ,   2.0476,   1.5714],
        [-45.    ,   6.5714,   3.3571,   2.2857,   1.75  ],
        [-50.    ,   7.2857,   3.7143,   2.5238,   1.9286],
        [-55.    ,   8.    ,   4.0714,   2.7619,   2.1071],
        [-60.    ,   8.7143,   4.4286,   3.    ,   2.2857],
        [-65.    ,   9.4286,   4.7857,   3.2381,   2.4643]]])

### mod

In [94]:
my_3d_array % my_vector

array([[[ 0,  1,  2,  3,  4],
        [ 0,  6,  7,  8,  9],
        [ 0,  4, 12, 13, 14],
        [ 0,  2,  3, 18, 19],
        [ 0,  0,  8,  2, 24],
        [ 0,  5, 13,  7,  1],
        [ 0,  3,  4, 12,  6]],

       [[ 0,  1,  9, 17, 11],
        [ 0,  6,  0,  1, 16],
        [ 0,  4,  5,  6, 21],
        [ 0,  2, 10, 11, 26],
        [ 0,  0,  1, 16,  3],
        [ 0,  5,  6,  0,  8],
        [ 0,  3, 11,  5, 13]]])

### addition

In [95]:
my_3d_array + my_vector

array([[[-1,  8, 16, 24, 32],
        [ 4, 13, 21, 29, 37],
        [ 9, 18, 26, 34, 42],
        [14, 23, 31, 39, 47],
        [19, 28, 36, 44, 52],
        [24, 33, 41, 49, 57],
        [29, 38, 46, 54, 62]],

       [[34, 43, 51, 59, 67],
        [39, 48, 56, 64, 72],
        [44, 53, 61, 69, 77],
        [49, 58, 66, 74, 82],
        [54, 63, 71, 79, 87],
        [59, 68, 76, 84, 92],
        [64, 73, 81, 89, 97]]])

##### trail

In [49]:
my_3d =np.array([[[0,1,2],
                 [3,4,5],
                 [6,7,8]],
                [[0,1,2],
                [3,4,5],
                [6,7,8]]])

In [50]:
my_3d.sum(0)

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [51]:
my_3d.sum(1)

array([[ 9, 12, 15],
       [ 9, 12, 15]])

In [52]:
my_3d.sum(2)

array([[ 3, 12, 21],
       [ 3, 12, 21]])

In [54]:
my_3d.shape

(2, 3, 3)

In [69]:
my_2d=np.full((3,3),fill_value=2)
my_2d

array([[2, 2, 2],
       [2, 2, 2],
       [2, 2, 2]])

In [70]:
my_3d*my_2d

array([[[ 0,  2,  4],
        [ 6,  8, 10],
        [12, 14, 16]],

       [[ 0,  2,  4],
        [ 6,  8, 10],
        [12, 14, 16]]])

In [73]:
my_3d

array([[[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]],

       [[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]]])

In [83]:
my_vector=np.arange(1,4)
my_vector

array([1, 2, 3])

In [84]:
my_3d / my_vector

array([[[0.    , 0.5   , 0.6667],
        [3.    , 2.    , 1.6667],
        [6.    , 3.5   , 2.6667]],

       [[0.    , 0.5   , 0.6667],
        [3.    , 2.    , 1.6667],
        [6.    , 3.5   , 2.6667]]])

In [85]:
my_3d % my_vector

array([[[0, 1, 2],
        [0, 0, 2],
        [0, 1, 2]],

       [[0, 1, 2],
        [0, 0, 2],
        [0, 1, 2]]])

In [87]:
my_3d

array([[[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]],

       [[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]]])

In [88]:
my_vector

array([1, 2, 3])

In [86]:
my_3d + my_vector

array([[[ 1,  3,  5],
        [ 4,  6,  8],
        [ 7,  9, 11]],

       [[ 1,  3,  5],
        [ 4,  6,  8],
        [ 7,  9, 11]]])

In [96]:
my_3d+my_2d

array([[[ 2,  3,  4],
        [ 5,  6,  7],
        [ 8,  9, 10]],

       [[ 2,  3,  4],
        [ 5,  6,  7],
        [ 8,  9, 10]]])