###  Broadcasting

In [8]:
import numpy as np

In [9]:
#creating 3 d array
my_3d_array = np.arange(70)
my_3d_array.shape=(2,7,5) #setting shape with atuple
my_3d_array #has 2 - 2D array, observer three [[[]]]

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [10]:
#Broadcasting describes how numpy performs operations between 
#arrays with different sizes

#Numpy requires that the arrays should be COMPATIBLE before braodcasting can take place
#Compatible means - sizes are same or at the least one of the array size is zero

#A small array BROADCAST to larger array

In [11]:
#before we proceed we need to know attributes of array
#shapes, number dimensions, sizes and data types  
#lets see how to access these attributes

In [12]:
#Shape
#accessing it 
my_3d_array.shape

(2, 7, 5)

In [13]:
#number of dimensions - ndim
my_3d_array.ndim

3

In [14]:
#size - no of elements  
my_3d_array.size
# we can also find out by we passed arange as 70
#and also shape is (2,7,5) - means 2 x 7 x 5

70

In [15]:
#Accessing each data type of element 
my_3d_array.dtype

dtype('int64')

In [16]:
#Now lets start with broadcasting
#using Scalars
5 * my_3d_array -2 #multiplies every element with 5 and then subtracts 2

array([[[ -2,   3,   8,  13,  18],
        [ 23,  28,  33,  38,  43],
        [ 48,  53,  58,  63,  68],
        [ 73,  78,  83,  88,  93],
        [ 98, 103, 108, 113, 118],
        [123, 128, 133, 138, 143],
        [148, 153, 158, 163, 168]],

       [[173, 178, 183, 188, 193],
        [198, 203, 208, 213, 218],
        [223, 228, 233, 238, 243],
        [248, 253, 258, 263, 268],
        [273, 278, 283, 288, 293],
        [298, 303, 308, 313, 318],
        [323, 328, 333, 338, 343]]])

In [17]:
#we can create and shape an arary directly using reshape() method
left_mat = np.arange(6).reshape((2,3))  #
right_mat=np.arange(15).reshape(3,5) #Marices special type in NumPy..these are just ordinary ndarray

In [18]:
#numpy has two methods to perform these operations
#numpy.inner & numpy.dot
#inner works only on 1D
#dot works on multi dimensional
#np.inner(left_mat,right_mat) # u get error since both arrays multi
np.dot(left_mat,right_mat) # dot - for 2D equivalent to matrix multiplication
#for 1D -

array([[ 25,  28,  31,  34,  37],
       [ 70,  82,  94, 106, 118]])

In [19]:
left_mat1 = np.arange(6)  #
right_mat1=np.arange(6)
np.dot(left_mat1,right_mat1) #

55

### Operations along axes

In [21]:
my_3d_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [22]:
my_3d_array.shape

(2, 7, 5)

In [23]:
my_3d_array.sum() # returns sum of all the elements in an arary

2415

In [24]:
#0 to 69..naturalnumbers...sum of natural numbers ...formula is n(n+1)/2
(69*70)/2

2415.0

In [33]:
#above is same as sum returned result
my_3d_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [32]:
my_3d_array.shape

(2, 7, 5)

In [26]:
my_3d_array.sum(axis=0)

array([[ 35,  37,  39,  41,  43],
       [ 45,  47,  49,  51,  53],
       [ 55,  57,  59,  61,  63],
       [ 65,  67,  69,  71,  73],
       [ 75,  77,  79,  81,  83],
       [ 85,  87,  89,  91,  93],
       [ 95,  97,  99, 101, 103]])

In [28]:
my_3d_array.sum(axis=1)

array([[105, 112, 119, 126, 133],
       [350, 357, 364, 371, 378]])

In [29]:
my_3d_array.sum(axis=2)

array([[ 10,  35,  60,  85, 110, 135, 160],
       [185, 210, 235, 260, 285, 310, 335]])

### Broadcasting rules

In [35]:
#NumPy's documentation tells us that the smaller array is broadcast across the larger array so that they have compatible shapes
my_2d_array=np.ones(35,dtype='int_').reshape((7,5))*3
my_2d_array

array([[3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3]])

In [36]:
my_random_2d_array=np.random.random((7,5))
my_random_2d_array

array([[0.86368019, 0.77863678, 0.52731452, 0.87537272, 0.86898746],
       [0.67842551, 0.03185232, 0.14289949, 0.71823895, 0.41028243],
       [0.53000623, 0.55261318, 0.53906842, 0.86355281, 0.22824085],
       [0.40773639, 0.74239935, 0.06794189, 0.25425499, 0.88551665],
       [0.34486139, 0.29633854, 0.23431645, 0.70477278, 0.8354597 ],
       [0.01652346, 0.80295299, 0.38149672, 0.16779231, 0.02354873],
       [0.12720845, 0.98558006, 0.29137389, 0.23508428, 0.40967084]])

In [40]:
np.set_printoptions(precision=4)
my_random_2d_array.shape

(7, 5)

In [41]:
my_3d_array*my_random_2d_array

array([[[ 0.    ,  0.7786,  1.0546,  2.6261,  3.4759],
        [ 3.3921,  0.1911,  1.0003,  5.7459,  3.6925],
        [ 5.3001,  6.0787,  6.4688, 11.2262,  3.1954],
        [ 6.116 , 11.8784,  1.155 ,  4.5766, 16.8248],
        [ 6.8972,  6.2231,  5.155 , 16.2098, 20.051 ],
        [ 0.4131, 20.8768, 10.3004,  4.6982,  0.6829],
        [ 3.8163, 30.553 ,  9.324 ,  7.7578, 13.9288]],

       [[30.2288, 28.0309, 19.5106, 33.2642, 33.8905],
        [27.137 ,  1.3059,  6.0018, 30.8843, 18.0524],
        [23.8503, 25.4202, 25.3362, 41.4505, 11.1838],
        [20.3868, 37.8624,  3.533 , 13.4755, 47.8179],
        [18.9674, 16.595 , 13.356 , 40.8768, 49.2921],
        [ 0.9914, 48.9801, 23.6528, 10.5709,  1.5071],
        [ 8.2685, 65.0483, 19.5221, 15.9857, 28.2673]]])

In [43]:
my_vector=np.arange(5)*7
my_vector[0]=-1
my_vector

array([-1,  7, 14, 21, 28])

In [44]:
my_3d_array / my_vector

array([[[ -0.    ,   0.1429,   0.1429,   0.1429,   0.1429],
        [ -5.    ,   0.8571,   0.5   ,   0.381 ,   0.3214],
        [-10.    ,   1.5714,   0.8571,   0.619 ,   0.5   ],
        [-15.    ,   2.2857,   1.2143,   0.8571,   0.6786],
        [-20.    ,   3.    ,   1.5714,   1.0952,   0.8571],
        [-25.    ,   3.7143,   1.9286,   1.3333,   1.0357],
        [-30.    ,   4.4286,   2.2857,   1.5714,   1.2143]],

       [[-35.    ,   5.1429,   2.6429,   1.8095,   1.3929],
        [-40.    ,   5.8571,   3.    ,   2.0476,   1.5714],
        [-45.    ,   6.5714,   3.3571,   2.2857,   1.75  ],
        [-50.    ,   7.2857,   3.7143,   2.5238,   1.9286],
        [-55.    ,   8.    ,   4.0714,   2.7619,   2.1071],
        [-60.    ,   8.7143,   4.4286,   3.    ,   2.2857],
        [-65.    ,   9.4286,   4.7857,   3.2381,   2.4643]]])

In [45]:
my_3d_array % my_vector

array([[[ 0,  1,  2,  3,  4],
        [ 0,  6,  7,  8,  9],
        [ 0,  4, 12, 13, 14],
        [ 0,  2,  3, 18, 19],
        [ 0,  0,  8,  2, 24],
        [ 0,  5, 13,  7,  1],
        [ 0,  3,  4, 12,  6]],

       [[ 0,  1,  9, 17, 11],
        [ 0,  6,  0,  1, 16],
        [ 0,  4,  5,  6, 21],
        [ 0,  2, 10, 11, 26],
        [ 0,  0,  1, 16,  3],
        [ 0,  5,  6,  0,  8],
        [ 0,  3, 11,  5, 13]]])