# Adding and Removing elements from NumPy Arrays
- append
- horizontal stacking
- vertical stacking
- insert
- delete

In [4]:
import numpy as np

In [16]:
#creating random 2d array with 24 elements
a = np.array(np.arange(24)).reshape(2,3,4)
a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

#### 1.Append
-Append values to the end of an array.

In [6]:
#we can use np.append method
#below append(a,[..])..means a is source and [..] will be appended and assigned to b
#THERE wont be any impact to a
b=np.append(a,[5,6,7,8])
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23,  5,  6,  7,  8])

In [10]:
#it generated 1 Dimensional array
b.shape

(28,)

In [12]:
#lets reshape
b.reshape((7,4))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [ 5,  6,  7,  8]])

In [15]:
#no impact to a
a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [18]:
#Lets create a new array as above and append 10 and multiply each element with 3
c=np.array(np.arange(24)).reshape(2,3,4)*10+3
c

array([[[  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [24]:
np.append(a,c,axis=0)
#np.append(a,c,axis=1)
#np.append(a,c,axis=2) #for 3D max axis =2

array([[[  0,   1,   2,   3],
        [  4,   5,   6,   7],
        [  8,   9,  10,  11]],

       [[ 12,  13,  14,  15],
        [ 16,  17,  18,  19],
        [ 20,  21,  22,  23]],

       [[  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [26]:
np.append(a,c,axis=1).shape

(2, 6, 4)

#### 2.Horizontal stacking

In [28]:
#hstack is a convenient function
#It returns results that are the same as append, and or concatentate. 
#It is a convenience method because it eliminates one parameter, the axis parameter
my_hay_stack = np.hstack((a,c))
my_hay_stack

array([[[  0,   1,   2,   3],
        [  4,   5,   6,   7],
        [  8,   9,  10,  11],
        [  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[ 12,  13,  14,  15],
        [ 16,  17,  18,  19],
        [ 20,  21,  22,  23],
        [123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [29]:
#lets assign value
my_hay_stack[0,0,2]=999
my_hay_stack
#We modified..lets see it has impact on sources 
#ie lets find out it creates views, or creates copies.

array([[[  0,   1, 999,   3],
        [  4,   5,   6,   7],
        [  8,   9,  10,  11],
        [  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[ 12,  13,  14,  15],
        [ 16,  17,  18,  19],
        [ 20,  21,  22,  23],
        [123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [30]:
a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [31]:
c

array([[[  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [32]:
#THERE IS NO IMPACT SO it created a COPY

### 3.Insert

- Insert values along the given axis before the given indices(ie obj value).

- https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.insert.html

In [33]:
#numpy.insert(arr, obj, values, axis=None)
#obj is like a where parameter..
#bject that defines the index or indices before which values is inserted.

In [34]:
c

array([[[  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [35]:
after_insert = np.insert(c,1,444,axis=0)
after_insert
#You see there entirely new array INSERTed BEFORE Index =1 array

array([[[  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[444, 444, 444, 444],
        [444, 444, 444, 444],
        [444, 444, 444, 444]],

       [[123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [37]:
#lets try changing axis
after_insert = np.insert(c,1,444,axis=1)
after_insert

array([[[  3,  13,  23,  33],
        [444, 444, 444, 444],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[123, 133, 143, 153],
        [444, 444, 444, 444],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

### 4.Delete

In [39]:
#lets use empty function with shape as of c
#empty(shape, dtype=float, order='C')
#Return a new array of given shape and type, 
#without initializing entries.
d=np.empty(c.shape)
d

array([[[0.000e+000, 4.941e-323, 9.881e-323, 1.482e-322],
        [1.976e-322, 2.470e-322, 2.964e-322, 3.458e-322],
        [3.953e-322, 4.447e-322, 4.941e-322, 5.435e-322]],

       [[5.929e-322, 6.423e-322, 6.917e-322, 7.411e-322],
        [7.905e-322, 8.399e-322, 8.893e-322, 9.387e-322],
        [9.881e-322, 1.038e-321, 1.087e-321, 1.136e-321]]])

In [42]:
#now lets use copyto function to copy from one to other
#copyto(dst, src, casting='same_kind', where=True)
#Copies values from one array to another, broadcasting as necessary.
np.copyto(d,c)
d

array([[[  3.,  13.,  23.,  33.],
        [ 43.,  53.,  63.,  73.],
        [ 83.,  93., 103., 113.]],

       [[123., 133., 143., 153.],
        [163., 173., 183., 193.],
        [203., 213., 223., 233.]]])

In [50]:
#lets delete from d
#we can use DELETE function
np.delete(d,1,axis=0)
#Return a new array with sub-arrays along an axis deleted. For a one
#dimensional array, this returns those entries not returned by
#`arr[obj]`.

array([[[  3.,  13.,  23.,  33.],
        [ 43.,  53.,  63.,  73.],
        [ 83.,  93., 103., 113.]]])

In [52]:
d
#It wont impact the source 
#it will only return like all above

array([[[  3.,  13.,  23.,  33.],
        [ 43.,  53.,  63.,  73.],
        [ 83.,  93., 103., 113.]],

       [[123., 133., 143., 153.],
        [163., 173., 183., 193.],
        [203., 213., 223., 233.]]])

In [48]:
e=np.array([1,2,3,4])
f=np.delete(e,1)
f #returns not directly works on e
#e still will have that value

array([1, 3, 4])

In [49]:
e

array([1, 2, 3, 4])