## sqlite3

In [2]:
import sqlite3

def main():

    # establishing  a database connection
    print('connect to db')
    con = sqlite3.connect('Test.db') #this file is created and is portable across all the os
    
    # preparing a cursor object
    print('creating cursor')
    cur=con.cursor()
    
    # preparing sql
    del_sql = 'Drop Table If Exists test'
    create_sql = 'Create table test(id integer primary key, name text, mob integer)'

    #Executing sql to drop and create
    print('Executing sql to drop and create table')
    cur.execute(del_sql)
    cur.execute(create_sql)
    
    #INSERT single row- directly
    print('insert row')
    cur.execute("insert into test(id,name,mob) values(1,'one',9962)")
    #Committing the insert
    print('commit')
    con.commit()
    
    #INSERT single row- parameter substitution
    rec=(2,'two',2222)
    insert_sql2='''
        insert into test values(?,?,?) 
        '''
    #USING try....except
    try:   
        cur.execute(insert_sql2,rec) 
        con.commit() #Committing
    except Exception as e:
        print('Error Message:',str(e))
        con.rollback() #Rollback
        
    
    #INSERT multiple row- parameter substitution
    record_list=[
        (3,'Three',3333),
        (4,'Four',4444)
    ]
    #USING try....except
    try:   
        cur.executemany(insert_sql2,record_list) 
        con.commit() #Committing
    except Exception as e:
        print('Error Message:',str(e))
        con.rollback() #Rollback
    
    #SELECT data - count
    print('select - count')
    cur.execute('select count(*) from test')
    count=cur.fetchone()[0] # we are fetching one from the cursor after executing the query
    print(f'{count}')
    
    #SELECT ROWS 
    print('read')
    for row in cur.execute('select * from test'):
        print(row)
    print('drop')
    cur.execute('Drop table test')
    print('close')
    
    #Closing the db
    con.close()
    
main()

connect to db
creating cursor
Executing sql to drop and create table
insert row
commit
select - count
2
read
(1, 'one', 9962)
(2, 'two', 2222)
drop
close