# Vectorized Operations
- Not necessary to write loops for element-by-element operations
- pandas Series object can be passed to MOST numpy functions
- In this we will see about how to use Vectorized Operations upon each element of a series AS AN alternative to writing a loop which operates upon each element within a series.

documentation - https://pandas.pydata.org/pandas-docs/stable/basics.html

In [8]:
import pandas as pd
import numpy as np

In [9]:
my_dictionary = {'a' : 45., 'b' : -19.5, 'c' : 4444}
my_series = pd.Series(my_dictionary)
my_series

a      45.0
b     -19.5
c    4444.0
dtype: float64

###### 1.add Series without loop

In [10]:
my_series+my_series # a value is 45 +45 =90
#AND IT WONT IMPACT ORIGINAL

a      90.0
b     -39.0
c    8888.0
dtype: float64

In [11]:
my_series

a      45.0
b     -19.5
c    4444.0
dtype: float64

##### 2.Series within arithmetic expression
-  A series can be used within an arithmetic expression

In [12]:
my_series +5 #45 became 50

a      50.0
b     -14.5
c    4449.0
dtype: float64

##### 3.Series used as argument to NumPy function
- an example of passing series to a numpy's exponential function

In [13]:
np.exp(my_series) #inf for c..the reason is float number overflow..when we raised to e to 4449..the value is greater 
# it was greater than the value 1.80 times 10 to the 308th.

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: overflow encountered in exp
  """Entry point for launching an IPython kernel.

a    3.493427e+19
b    3.398268e-09
c             inf
dtype: float64

<b>A key difference between Series and ndarray is that operation
between Series automatically align the data based on label.
Thus, you can write computations without giving consideration to whther
the series involved have the same labels</b>

In [14]:
my_series[1:]

b     -19.5
c    4444.0
dtype: float64

In [15]:
my_series[:-1]

a    45.0
b   -19.5
dtype: float64

##### now lets append without worrying about labels

In [16]:
my_series[1:] + my_series[:-1] # here onlylabel thats common in both is c..so its just gives c the sum value
#and nan for remaining

a     NaN
b   -39.0
c     NaN
dtype: float64

### Apply Python functions on an element-by-element basis

In [17]:
#Some times it's not possible to find built in functions that can be used
#without using operations on an element by element basis.

In [18]:
#below just example..without this also can be done *10
def multiplyByTen(input):
    return input*10.0

In [20]:
my_series.map(multiplyByTen)

a      450.0
b     -195.0
c    44440.0
dtype: float64

### Vectorized String methods
-  Series is equipped with functions that have a set of string processing methods that make it easy to operate upon each element of an array. 
-  Perhaps most importantly, these methods exclude missing and not available values automatically.

In [ ]:
series_of_strings = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [ ]:
series_of_strings.str.lower() #turns all into lower
#similarly many other available